@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Montserrat:wght@200&display=swap');

body {
    margin: 0;
    background-color: rgb(233, 233, 233);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 35px 0 5px 0;
}

p {
    font-size: 10px;
}

/* <Header */


header {
    background: url(/asset/images/banner.jpg) no-repeat;
    background-size: cover;
    color: white;   
    height: 400px;
    background-position: center;
    position: fixed;
    width: 100%;
    margin: 0;
}

.trait-blanc {
    background-color: white;
    display: inline-block;
    text-align: center;
    height: 2px;
    width: 18%;
}

header h1 {
    font-size: 65px;
    padding-top: 75px;
}

header p {
    margin: 25px;
    font-size: 12px;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 0.8px;
}

header span {
    border-bottom: 1px solid grey;
}

/* >Header */

/* <Main */

main {
    background-color: rgb(233, 233, 233);
    margin-top: 400px;
    position: absolute;
    z-index: 1;
}

.apros {
    margin: 40px;
    background-color: white;
}

#gem {
    padding: 50px 0 5px 0;
    color: #666666;
    transition: 0.5s;
}

.fa-gem {
    font-size: 35px;
    align-items: center;
    border-radius: 100%;
    border: 1px solid rgb(27, 27, 27);
    padding: 25px;
    transition: 0.5s;
}

.fa-gem:hover {
    border-color: #40dcd1;
    color: #40dcd1;
    transition: 0.5s;
}

.apros h2,
h3,
h4 {
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 5px;
    letter-spacing: 1px;
}

#info-text {
    font-size: 12px;
    padding: 0 35% 10px;
}

.city {
    margin: 40px;
}

.city article:nth-of-type(1),
.city article:nth-of-type(2),
.city article:nth-of-type(3),
.city article:nth-of-type(4) {
    width: 48.5%;
    background-color: white;
    border-radius: 10px;
}

.city article:nth-of-type(3),
.city article:nth-of-type(4) {
    margin-top: 50px;
}

.button-page {
    margin: 0 0 35px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: transparent;
    transition: 1s;
}

.button-page:hover {
    background-color: transparent;
    color: #EF6480;
    border-radius: 10px;
    border: 2px solid #EF6480;
    transition: 1s;
}

.img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.img img {
    filter: brightness(80%);
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: block;
    transition: 0.5s;
}

.img img:hover {
    filter: brightness(50%);
    scale: 1.3;
    transition: 0.5s;
}

.title p {
    text-transform: uppercase;
    font-size: 45px;
    position: absolute;
    width: 47%;    
    color: white;
    letter-spacing: 3px;
    margin: 10% 0;
    font-weight: bold;
    z-index: 1;
    transition: 0.5s;
}

.info-art {
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.info-art p {
    padding: 0 10%;
    background-color: white;
    font-size: 15px;
    transition: 0.5s;
}

.art-left {
    float: left;
}

.art-right {
    float: right;
}

.info {
    margin-top: 125px;
}

.info p {
    padding: 0 42%;
}

.info button {
    margin-top: 17px;
}

.find-us {
    background-color: white;
    margin: 10px 40px 500px;
}

.info-f-us {
    padding: 35px;
}

.info-f-us h4 {
    text-align: left;
}

#text-us {
    text-align: left;
}

.info-contact {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.trouver-nous {
    margin-top: 10px;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 100px;
}

.trouver-nous em {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
    letter-spacing: 3px;
}

.trouver-nous p {
    font-size: 12px;
}

.insert-user {
    width: 45%;
}

.insert-user ul {
    list-style: none;
}

.insert-user li {
    margin: 5px;
}

.insert-user input {
    border-radius: 5px;
    border: 1px solid #666666;
    width: 350px;
    padding: 10px;
    background-color: #f7f7f7;
}

#select {
    font-weight: bold;
}

#message {
    padding-bottom: 75px;
}


/* >Main */


/* Clear */
.clear {
    clear: both ;
}

/* \Media/ |Max| */

@media screen and (max-width: 1080px) {
    .title p {
        font-size: 25px;
        width: 46%;    
        transition: 0.5s;
    }
}

@media screen and (max-width: 736px) {
    .title p {
        font-size: 15px;
        width: 45%;    
        transition: 0.5s;
    }

    .info-art p {
        font-size: 7px;
        transition: 0.5s;
    }

    .button-page {
        padding: 5px 7%;
        font-size: 10px;
        transition: 0.5s;
    }

    #info-text {
        font-size: 9px;
        padding: 0 35% 10px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 544px) {
    .info-art p {
        font-size: 5px;
        transition: 0.5s;
    }

    #info-text {
        font-size: 5px;
        padding: 0 35% 10px;
        transition: 0.5s;
    }

    .title p {
        font-size: 10px;
        width: 40%;    
        transition: 0.5s;
    }

    .button-page {
        padding: 5px 7%;
        font-size: 5px;
        transition: 0.5s;
    }
}


